//-增加用户
doctype html
html
    head
        title= 增加一个新用户
        script(type='text/javascript',src='../../public/javascripts/jquery-2.2.4.min.js')
        style(type='text/css').
            .sty {
                cursor: pointer;
                font-size: 20px;
                text-decoration: none;
            }

            .txtc {
                width: 100px;
                text-align: left;
            }

        script(type='text/javascript').
            function subuser() {
                if ($('#uname') == undefined || $('#uname').val() == '') {
                    alert('用户名不能为空');
                    return;
                }
                if ($('#upass') == undefined || $('#upass').val() == '') {
                    alert('通用密码不能为空');
                    return;
                }
                $('#form1').submit();
            }
            function checknull(){
                if($('#uname').val()=='undefined'){
                    $('#uname').val('');
                }
                if ($('#upass').val() == 'undefined') {
                    $('#upass').val('');
                }
                if ($('#uage').val() == 'undefined') {
                    $('#uage').val('14');
                }
            }
    body(onload='checknull()')
        form#form1(action='/addUser' method='post')
            h2(style='text-align:center') 增加一个新用户
            table(style='margin:0 auto;')
                tr
                    td
                        label 用户名:
                    td(class='txtc')
                        input#uname(type='text',name='uname',value='#{uname}')
                tr
                    td
                        label 年龄:
                    td(class='txtc')
                        input#hiduage(hidden='hidden' value='#{uage}')
                        select#uage(name='uage')
                            option(value='12') 12
                            option(value='14') 14
                            option(value='18') 18
                            option(value='20') 20
                tr
                    td
                        label 通用密码:
                    td(class='txtc')
                        input#upass(type='password',name='upass',value='#{upass}')
            input#sub1(type='button',value='提交数据',onclick='subuser();')
