//- 项目首页位置
doctype html
html
    head
        title Nodejs+mysql+jade 的CURD测试
        style.
            .sty{
                cursor:pointer;
                font-size:20px;
                text-decoration:none;
            }
    body
        form(action='/index',method='get',name='form1',id='form1')
        h2(style='text-align:center') Nodejs+mysql+jade 的CURD测试
        b(style='color:green;') #{info} <br/>
        table
            tr
                td
                a(href='/showUsers',title='用户列表',class='sty') 显示当前用户列表<br/>
            tr
                td
                a(href='/pre_addUser',title='增加用户',class='sty') 增加用户<br/>



